
.paths {
	margin-left: 15%;
	gap: 20px;
	& li {
		font-weight: 500;
	}
}

.content {
	background: white;
	height: max-content;
	padding: 20px 120px;
}

.miniCards {
	display: grid;
	gap: 20px;
}


.usually {
	border-radius: 40px;
	padding: 20px;
	border: 2px solid #e1a560;
}