@import '@csstools/normalize.css';
@import 'sanitize.css';

#root {
	width: 100%;
}

body {
	margin: 0;
	width: 100%;
	overflow-x: hidden;
	font-family: Suisse Intl, sans-serif;
}

ul {
	margin: 0;
}
main {
	width: 100%;
}

a {
	color: inherit;
}
.link_hover:hover {
	font-weight: bold !important;
}